/*
	Default style for all pages
*/
@import "../Generic";

.Root__top-container {
	display: flex; // Required for the dynamic scrolling to function properly
}

.Root__main-view {
	padding: 0 0 100px 0 !important;
	margin-top: -50px; // Fixes incorrectly lowered content on Mobile, unfortunately breaks properly positioned content on Desktop
//	padding-top: $statusBarHeight !important; // Global padding messes up the image banners now

	.main-view-container {
		z-index: 0; // Prevent NowPlaying View from creating garbage on mobile after minimizing

		.main-view-container__scroll-node {

			.main-view-container__scroll-node-child {
				padding-bottom: 8px;
			}
		}
	}

	// Popup notification (for Desktop)
	._885aba49a0600c4f37894dd00ef10f8e\.scss {
		z-index: 300;

		// Popup notification
		._7978d1a53eb00cc7b3a900c911fd0493\.scss {
			min-width: 200px;
			top: calc(-82px + 50%);
			left: 50%;
			position: -ms-device-fixed;
			transform: translateX(-50%);
			z-index: 300;
		}
	}

	// Podcast episode description page
	.ad6f7074db563f98f848cc3ffdbd8190\.scss {
		padding: 40px 0 0;

		// Header (art, play button and descriptions)
		._3fbbb7d0bf76c59c20c9811abeb74768\.scss {
			display: flex;
			flex-direction: column;
			padding: 0 24px;
			
			& > img {
				max-width: 300px;
				width: 70%;
				margin: 0 auto;
			}

			// Play button container
			.f6173d20f0f929bf918f617e6e935c73\.scss {
				padding: 16px 0;

				// For some reason this button does not use the standard button style
				button {
					line-height: 18px;
					padding: 11px 44px;
					font-weight: var(--glue-font-weight-black);
					min-width: 130px;
				}
			}

			// Center episode title 1
			h1 {
				text-align: center;
				font-weight: var(--glue-font-weight-black);
				margin: 0;
			}

			// Center episode date and duration
			._78383129a4ed6dcdfddb3f71450282e8\.scss {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 8px;

				// Center episode title 2
				h2 {
					text-align: center;
					font-size: 15px;
				}

				// Fix for missing font glyphs
				._11992636f8d9179b93b8908cbb12d996\.scss {
					font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
					font-weight: var(--glue-font-weight-normal);
				}
			}

			// Description container
			._5807a0611aa7e70410419758b16e2f61\.scss.fcd8b4d81f22f04a2566c6697181c9f1\.scss {
				// Unwrap description text
				._7e65f874efeb71af5b814cd1a6686668\.scss {
					height: auto !important;
					mask-image: none !important;

                    // Description font
                    ._4c34a3836b2852f3c718b9296feebe53\.scss {
                        font-weight: var(--glue-font-weight-normal);
                    }
				}

				// "Read more" button
				._81a88e0d61622b328f181589e4074b12\.scss {
					display: none !important;
				}
			}
		}

// You May Also Like section

		// Remove unneeded padding for You May Also Like section
		._39d08a4b27a1d1770330bf43475d55d8\.scss._4f5bff1c8e047be9a234ed769550d199\.scss {
			padding-top: 0;

			// You May Also Like text
			._03445ac95aad21318c28e54ddbeb2049\.scss {
				font-size: 22px;
				text-align: center;
			}

			// Convert You May Also Like section into horizontal scrolling
			._6686ef7e3f95e307cc61b82152e23fb6\.scss {
				display: flex;
				overflow-x: scroll;
				flex-wrap: nowrap;

				// Remove background for You May Also Like thumbnails
				._5658c6accf868644593ce36887a475b1\.scss {
					background: none;
					padding: 0 8px 16px;

					// Remove small image thumbnail
					._31deeacc1d30b0519bfefa0e970ef31d\.scss.ee924b9c3e7d687b38e77b5e0c33e536\.scss {
						display: none;
					}

					// Episode description
					.c906e62aa400e38e37356f15cfbde813\.scss {
						text-align: center;
						width: 128px;
					}

					// Fix for missing font glyphs in You May Also Like section
					._4ff5c60635f8d0128d305710147cceb5\.scss.ae0f6218491fa7e7f41eec2add69387e\.scss {
						font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
						text-align: center;
					}

					// Hide long episode description but keep hyperlinks
		 			.d9eb38f5d59f5fabd8ed07639aa3ab77\.scss.d56489c83fe6b79db9f89b06371835cf\.scss {
						text-indent: -9999px;
					}
				}
			}
		}
	}

	.contentSpacing {
		padding: 0 16px;

		._2SnF0IAy7I_tM-7M5iEcyT{
			margin-left: -12px !important;
			margin-right: -12px !important;

			// Modify padding when the list is scrollable
			&.grid--limit{
				margin-left: -24px !important;
				margin-right: -24px !important;
				padding-left: 12px !important;

				// 12px padding at the end of the scroll list
				&:after{
					content: '';
					display: block;
					width: 12px;
					flex-shrink: 0;
				}
			}
		}

		.container-fluid.container-fluid--noSpaceAround {
			margin: 0 -8px;
		}
	}

	h1 {
		font-size: 18px;
		line-height: normal;
		margin: 20px 0; // Move Play Queue text under the status bar
		text-align: center;
	}

	// Remove play/pause button from album pictures
	.cover-art {
		.daily-mix-decoration, &-image {
			filter: none !important;
		}

		&-playback {
			display: none !important;
		}
	}

	// Grid list (Album list, podcast list, ...)
	.container-fluid {

		._88274e8b8f91af984c5318d16d5d4d08\.scss, ._7b1a050833cf73a0f06dc3a6402e38f1\.scss {
			margin: 0 -16px;
		}
	
		// Show 3 items per row instead of 2
		.col-xs-6 {
			width: calc(100% / 3);
			padding: 0 4px;
		}
		
		// Item description
		.mo-meta {
			font-size: 11px;
		}
		
		// Make grid items scrollable instead of being 
		// hidden behind a "view more" button
		.grid--limit {
			overflow-x: scroll;
			flex-wrap: nowrap;

			& > div {
				display: block;
				flex-shrink: 0;
				width: calc(110% / 3);
				max-width: 150px;
				min-width: 120px;
			}
		}
	}

	// Disable "view more" button 
	.ResponsiveViewMoreButton__button{
		display: none !important;
		
		&:nth-child(5){
			display: block !important;
		}
	}

	// Top page navigation
	nav {
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		//background-color: rgba(0, 0, 0, 0.4);
		margin-bottom: 16px;
		padding-top: 8px;
		margin-top: $statusBarHeight;

		ul {
			display: flex;
			flex-direction: column;

			li div {
				text-align: left;

				a {
					padding: 8px 0px;
					margin: 4px 0;
					font-size: 15px;
				}

				a:before {
					top: -2px !important;
					left: -16px !important;
					bottom: -2px !important;
					height: auto !important;
					width: 4px !important;
					margin: 0 !important;
					background: white !important;
					border-radius: 0 3px 3px 0;
				}

				// Disable hover
				a:not(._1-aXXBO8bQU1WTFY-7B0m-):hover{
					opacity: 0.6;
				}
			}
		}
	}

	// "New playlist" button
	.asideButton {
		display: none;
	}
}

// Raise bottom content above the ad banner when it is visible
.Root__main-view--has-ads {
	padding: 0 0 152px 0 !important;

	// Popup notification
	._7978d1a53eb00cc7b3a900c911fd0493\.scss {
		top: calc(-108px + 50%);
	}
}