/*
	Default style for all pages
*/
@import "../Generic";

.Root__top-container {
	display: initial; // Fixes width for some pages on Desktop that are marked as grid
}

.Root__main-view {
	padding: 0 !important;
//	padding-top: $statusBarHeight !important; // Global padding messes up the image banners now

	.main-view-container {
		z-index: 0; // Prevent NowPlaying View from creating garbage on mobile after minimizing
		.main-view-container__scroll-node {
			padding-bottom: 130px; // Raise bottom content hidden behind controls
			._11pfm-p6kRU6CrLDyLhi3a {
				margin-top: $statusBarHeight; // Move Home and Library content below the Status Bar
			}

			// Hide the infinite loading circle
			._3UiTf7sJvnMMlRcSCZre-V {
				display: none;
			}
		}
	}

	// Podcast episode description page
	._2gwrTZfYN8-9w_lJJQs6-J {
		padding: 40px 24px;
		padding-bottom: 150px;

		// Header (art, play button and descriptions)
		._1EhXu-6E7989P5tH_gJXI_ {
			display: flex;
			flex-direction: column;
			
			& > img {
				max-width: 300px;
				width: 70%;
				margin: 0 auto;
			}

			// Play button container
			._1Pn9dKvC6fArYF-v0wfhvS {
				padding: 16px 0;

				// For some reason this button does not use the standard button style
				button {
					font-size: 12px;
					line-height: 18px;
					padding: 11px 44px;
					font-weight: 700;
				}
			}

			// Fix for missing font glyphs
			._2mShaXz92UAVInSvwS9FAh {
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			}

			// Description container
			._1xbSWNm9t140jDFNFxE0to._3NOo5NqspC9kHM8x_oJdzY {
				// Unwrap description text
				._1EpCyCQkO1mWZNW-ZQ-6l- {
					height: auto !important;
					mask-image: none !important;
				}

				// "Read more" button
				.iiMvAyhkozP8HoC4dzGy1 {
					display: none !important;
				}
			}
		}

		// Fix for missing font glyphs in You May Also Like section
		._1-e6DtaKMuZeuD7QAoow-K {
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		}
	}

	.contentSpacing {
		padding: 0 16px;

		._2SnF0IAy7I_tM-7M5iEcyT{
			margin-left: -12px !important;
			margin-right: -12px !important;

			// Modify padding when the list is scrollable
			&.grid--limit{
				margin-left: -24px !important;
				margin-right: -24px !important;
				padding-left: 12px !important;

				// 12px padding at the end of the scroll list
				&:after{
					content: '';
					display: block;
					width: 12px;
					flex-shrink: 0;
				}
			}
		}
	}

	h1 {
		font-size: 18px;
		line-height: normal;
		margin: 20px 0; // Move Play Queue text under the status bar
	}

	// Remove play/pause button from album pictures
	.cover-art {
		.daily-mix-decoration, &-image {
			filter: none !important;
		}

		&-playback {
			display: none !important;
		}
	}

	// Grid list (Album list, podcast list, ...)
	.container-fluid {
		.row {
			//margin-left: -12px;
		}
	
		// Show 3 items per row instead of 2
		.col-xs-6 {
			width: calc(100% / 3);
			padding: 0 4px;
		}
		
		// Item description
		.mo-meta {
			font-size: 11px;
		}
		
		// Make grid items scrollable instead of being 
		// hidden behind a "view more" button
		.grid--limit {
			overflow-x: scroll;
			flex-wrap: nowrap;

			& > div {
				display: block;
				flex-shrink: 0;
				width: calc(110% / 3);
				max-width: 150px;
				min-width: 120px;
			}
		}
	}

	// Disable "view more" button 
	.ResponsiveViewMoreButton__button{
		display: none !important;
		
		&:nth-child(5){
			display: block !important;
		}
	}

	// Top page navigation
	nav {
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		//background-color: rgba(0, 0, 0, 0.4);
		margin-bottom: 16px;
		padding-top: 8px;

		ul {
			display: flex;
			flex-direction: column;

			li div {
				text-align: left;

				a {
					padding: 8px 0px;
					margin: 4px 0;
					font-size: 15px;
				}

				a:before {
					top: -2px !important;
					left: -16px !important;
					bottom: -2px !important;
					height: auto !important;
					width: 4px !important;
					margin: 0 !important;
					background: white !important;
					border-radius: 0 3px 3px 0;
				}

				// Disable hover
				a:not(._1-aXXBO8bQU1WTFY-7B0m-):hover{
					opacity: 0.6;
				}
			}
		}
	}

	// "New playlist" button
	.asideButton {
		display: none;
	}
}
