:root {
	--status-bar-height: 20px;
}

html, body {
	-ms-content-zooming: none;
	-ms-overflow-style: none;
	min-width: 0;
}

/* Prevent fixed elements from scrolling */
.SearchInputBox, ._1YMukI_FrE7QRuUVSvq_Qe, .Root__nav-bar, .Root__now-playing-bar, .Root__ads-container {
	position: -ms-device-fixed;
}

.amoledDarkMode ._1YMukI_FrE7QRuUVSvq_Qe, .amoledDarkMode .now-playing-bar-container, .amoledDarkMode .SearchInputBox, .amoledDarkMode .artist-music.container-fluid, .amoledDarkMode .artist-singles.artist-albums, .amoledDarkMode .artist-appears-on, .amoledDarkMode .related-artists, .amoledDarkMode .ArtistAbout__container, .amoledDarkMode .compactPlayingBar {
    background-image: none !important;
    background-color: black;
}

.amoledDarkMode .SearchInputBox {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}

/* Prevent rubber band scrolling */
/*body > .main{
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	overflow: auto;
}*/
/* Signup Banner */
._2xTC2WcXRpmoZBliqieiS9 {
	z-index: 1;
	position: relative;
}

/* Cookie Policy Banner */
.ITVPJxOvtLt7upeE1TV9- {
    top: auto;
    height: auto;
}

/* Signup and Login Window */
._3k6GlFSWMzUXKRdDQwLoCs {
    transform: scale(0.84);
    transform-origin: left top;
}

.Root__ads-container {
/*    transform: scale(0.5);
    transform-origin: left top;
    width: 200%;
    top: 0;
    bottom: initial; */
    z-index: 9000;
}

 .AdsContainer {
     width: auto !important;
 }

.ads-container, .ads-container *{
	margin: 0;
	padding: 0;
    z-index: 9000;
}

.compactPlayingBar .AdsContainer {
	bottom: 103px;
	top: initial;
    transform: scale(0.58);
	transform-origin: left bottom;
}

/* Popup notificaion*/
.ITVPJxOvtLt7upeE1TV9- {
    margin-top: calc(var(--status-bar-height)) !important;
}

/* Menu (Bottom) */
.Root__main-view {
    padding-left: 0 !important;
}

.Root__nav-bar {
    width: 100%;
    padding-bottom: 0 !important;
    z-index: 100;
    background: black;
    height: 56px;
    bottom: 0;
    top: auto;
}

.navBar {
    padding: 0 !important;
    width: 100%;
    flex-flow: row;
}

.navBar > div:nth-of-type(2){
	display: none;
}

.sessionInfo {
    padding: 0 !important;
    border-top: none;
    margin: 0 !important;
}

.navBar .recently-played{
	display: none;
}

.navBar-header{
	display: none;
}

.navBar ul {
    display: flex;
    flex-flow: row;
    height: 100%;
}

.navBar ul > li {
    margin: 0 auto;
    /* min-width: 20%; */
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: center;
}

.navBar ul > li:nth-of-type(2){
	order: 0;
}

.navBar-item--with-icon-left{
	padding: 0;
	padding-bottom: 3px;
}

.navbar-link__text, .sessionInfo .user-link, .UserWidget__user-link {
    position: initial;
    font-size: 10px !important;
    width: initial;
    height: initial;
    margin: 0 !important;
    line-height: initial !important;
    letter-spacing: initial !important;
    font-weight: 600 !important;
}

.navBar-link, .sessionInfo a{
	display: flex;
	flex-flow: column;
	align-items: center;
}

.sessionInfo a {
	color: hsla(0, 0%, 100%, 0.6);
}

.navBar-link .icon{
	position: initial !important;
	order: -1;
}

.user-widget{
	margin:0;
}

.sessionInfo .avatar.user-avatar{
	width: 24px !important;
	height: 24px !important;
	background-image: none !important;
}

.sessionInfo .active-icon{
	display: none;
}

.sessionInfo .is-active .active-icon {
	display: block;
}

.sessionInfo .is-active .normal-icon {
	display: none;
}

.accountPage-image{
	width: 100px;
	height: 100px;
}

/* Login/Registration Dialogue */
#login-method .step-inner {
	margin: auto;
	max-width: 100% !important;
}

#login-method .step-outer, #screen-signup-flow {
	width: 100% !important;
}

#login-features {
	display: none !important;
}

#login{
	width: 100% !important;
}

/* Basic Page Elements */

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

.main-view-container__content h1 {
	font-size: 20px !important;
	line-height: 35px !important;
}

.main-view-container__content nav {
    padding: 10px 0 !important;
    padding-top: calc(10px + var(--status-bar-height)) !important;
	border-bottom: 1px solid hsla(0, 0%, 100%, 0.4);
    padding-bottom: 15px !important;
    /*padding: 10px;*/
}

    .main-view-container__content nav ul {
        display: flex !important;
        flex-flow: column;
    }

        .main-view-container__content nav ul li {
            text-align: left !important;
        }

            .main-view-container__content nav ul li a {
                font-size: 15px !important;
                margin: 0.4em 0.8em !important;
            }

                .main-view-container__content nav ul li a::before {
                    height: 30px !important;
                    width: 3px !important;
                    left: 10px !important;
                }

.contentSpacing{
	padding: 0 1em;
}

/*.main-view-container .asideButton button {
	font-size: 15px;
}

.main-view-container .asideButton .btn-small {
	padding: 11px 44px;
}*/

.main-view-container__content .asideButton {
    display: none;
}

/* Search */
.SearchInputBox {
    margin-left: -80px;
    width: 100vw;
    height: calc(50px + var(--status-bar-height));
	padding-top: calc(16px + var(--status-bar-height));
}

.SearchInputBox__input {
    font-size: 20px;
    line-height: 32px;
    margin-top: -8px;
}

.Search__content--empty {
	text-align: center;
}

.Search__content {
	padding-top: calc(50px + var(--status-bar-height));
}

/* Search Result Styling */
.main-view-container__content > section > div:nth-of-type(2) > nav ul, .artist nav ul {
    overflow: auto;
    flex-flow: row;
    align-items: center;
    padding-top: 9px;
    height: 50px;
    -ms-overflow-style: none;
}

.main-view-container__content > section > div:nth-of-type(2) > nav, .artist nav {
    padding:0 !important;
    padding-bottom: 8px !important;
    margin-bottom: 12px !important;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    position: relative;
    /*background: hsl(0,0%,7%);*/
}

    .main-view-container__content > section > div:nth-of-type(2) > nav::before,
    .main-view-container__content > section > div:nth-of-type(2) > nav::after,
    .artist nav::before, .artist nav::After {
        content: '';
        position: absolute;
        height: 100%;
        width: 15px;
        left:0;
        top:0;
        z-index: 50;
        box-shadow: inset 15px 0 10px -3px hsl(0, 0%, 7%);
    }

    .main-view-container__content > section > div:nth-of-type(2) > nav::after, .artist nav::after {
        right:0;
        left: auto;
        box-shadow: inset -15px 0 10px -3px hsl(0, 0%, 7%);
    }

    .main-view-container__content > section > div:nth-of-type(2) > nav ul li, .artist nav ul li {
        text-align: center !important;
    }

        .main-view-container__content > section > div:nth-of-type(2) > nav ul li a::before, .artist nav ul li a::before {
            height: 2px !important;
            width: 50px !important;
            left: 50% !important;
            margin-left: -25px !important;
        }

.main-view-container__content > section > div:nth-of-type(2) > .contentSpacing > .container-fluid.container-fluid--noSpaceAround > .row:first-of-type > .top-artist {
    display: none;
}

/* Tracklist  */
.row {
    margin-left:0;
    margin-right:0;
}

.tracklist-row{
	position: relative;
}

.tracklist-row .react-contextmenu-wrapper{
	display: inline !important;
}

.tracklist-row .tracklist-play-pause {
	display: block;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.tracklist-col.position-outer {
	display: none;
	/*padding-right: 0;
	text-align: left;
	width: 2em;*/
}

.tracklist-row .tracklist-play-pause *{
	display: none;
}

.tracklist-row--active .tracklist-play-pause{
	display: none;
}

.tracklist-col.more{
	display: block;
	padding-right: 0 !important;
	position: relative;
	z-index: 20;
	min-width: 0 !important;
}

.tracklist-col-duration{
	padding-right: 0px !important;
	width: 3em;
}

.tracklist-col.name .second-line{
	position: relative;
	z-index: 20;
}

.tracklist-play-pause.tracklist-middle-align {
	transform: initial;
}

.tracklist-row:focus .position, .tracklist-row:hover .position{
	display: block;
}

.tracklist-row:focus, .tracklist-row:hover{
	background: transparent;
}

/* Pictures (albums, artists, podcasts, playlists, ...) */
.media-object {
	padding-bottom: 1.5em;
}

.view-more-button .btn{
	margin-top:0;
	padding-top:0;
	padding: 5px;
}

.view-more{
	padding-bottom: 10px;
}

/* Playlist, Albums, Podcasts, Daily Mixes */

.content.playlist, .content.album, .content.show-page, .content, .EpisodePage {
	padding-top:0;
}

    .contentSpacing .TrackListHeader {
        flex-flow: column;
        position: relative;
        background: rgba(0, 0, 0, 0.7);
        left: calc(-1em - 8px);
        max-width: 100vw;
        width: 100vw;
        margin-bottom: 40px;
        padding-bottom: 0;
/*        margin-top: -30px;
        padding-top: 50px; */
    }

/* .EpisodePage .TrackListHeader {
    flex-flow: column;
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    left: calc(-1em - 8px);
    max-width: 100vw;
    width: 100vw;
    margin-bottom: 40px;
    padding-bottom: 0;
        margin-top: -30px;
        padding-top: 50px;
} */

.TrackListHeader .media-object {
    margin: 0;
    width: 100%;
}

.TrackListHeader__entity-by {
    padding-right: 5px;
}

.TrackListHeader .TrackListHeader__body {
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

    .TrackListHeader .TrackListHeader__body .TrackListHeader__button {
        margin-bottom: -17px;
        margin-top: 25px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1.2);
    }

.TrackListHeader .TrackListHeader__body .horizontal-list > button {
    display: none;
}

    .TrackListHeader .TrackListHeader__body .horizontal-list button {
        margin: 0;
        padding: auto;
    }

    .TrackListHeader .TrackListHeader__body .horizontal-list, .header-buttons .react-contextmenu-wrapper {
        position: absolute;
        right: 0;
        top: var(--status-bar-height);
		margin-right: 5px !important;
    }

.TrackListHeader .media-object button.cover-art-playback {
    display: none !important;
}

.TrackListHeader .cover-art, .TrackListHeader .media-object {
    position: initial;
    width: 0 !important;
    height: 0 !important;
}

.TrackListHeader .media-object .cover-art-image {
    filter: initial !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.TrackListHeader .media-object .cover-art .icon {
    display: none;
}

.TrackListHeader .daily-mix-decoration {
    display: none;
}

.EpisodePage .btn {
    margin-left: -5px;
}

.EpisodePage .TrackListHeader__entity-name {
    padding-top: calc(var(--status-bar-height)) !important;
}

/* Artist */
.header-buttons .react-contextmenu-wrapper button {
	margin-top: 18px;
    margin-right: 1px;
    padding: 0;
}

.header-buttons > * {
	position: relative;
}

.header-buttons{
	position: initial !important;
    margin-left: 30px;
}

.header-buttons .btn-black{
	display: none;
}

header.artist-header .monthly-listeners{
	padding-top: 50px;
}

.artist nav{
	margin-bottom: 0 !important;
}

/* .artist-header{
	margin-top: -20px;
	padding-top: 20px;
} */

/* Dialog */
.dialog .contentSpacing > div:first-of-type > button, .dialog > div:first-of-type > .btn-transparent {
	margin: 0;
	position: absolute;
	right: 0;
	top: var(--status-bar-height);
	min-width: initial;
	width: auto !important;
	transform: scale(0.7);
	z-index: 1000000;
}

.dialog h1{
	font-size: 30px;
	line-height: 40px;
	padding-top: 20px;
}

.dialog > div:first-of-type{
	justify-content: flex-start !important;
}

.dialog .asideButton button{
	transform: scale(1.2);
	margin-bottom: 0;
	margin-top: 30px;
}

.dialog .button-group__item button {
	transform: scale(1.1);
	margin: 0 6px;
}

/* Tracking bar */
.nowPlayingBar-container {
	bottom: 0 !important;
	height: 100vh;
	display: flex;
	position: -ms-device-fixed !important;
}

.now-playing-bar-container{
	min-width: initial;
	width: 100%;
    height: 100%;
}

.now-playing-bar{
	flex-flow: column;
	height: 100%;
	justify-content: flex-end;
	padding: 0;
	position: relative;
}

.now-playing-bar > *{
	padding-left: 16px;
	padding-right: 16px;
}

.now-playing__cover-art .cover-art{
	width: 200px !important;
	height: 200px !important;
}

@media (min-width: 320px){
	.now-playing__cover-art .cover-art {
		width: 300px !important;
		height: 300px !important;
	}
}

@media (min-width: 480px) {
	.now-playing__cover-art .cover-art {
		width: 460px !important;
		height: 460px !important;
	}
}

.now-playing__cover-art{
	margin-right: 0 !important;
}

.now-playing-bar__left {
	width: 100%;
	/*height: 100%;*/
	flex-grow: 1;
	display: flex;
}

.now-playing{
	flex-flow: column;
	height: 100%;
	flex-grow: 1;
}

.now-playing > span{
	margin: auto;
	position: relative;
	padding-top: var(--status-bar-height);
}

.compactPlayingBar .now-playing > span {
	padding-top: 0px;
}

.now-playing > button {
	position: absolute;
	left: 0;
	bottom: -134px;
	transform: scale(1.2);
/*	margin: 4px 8px; */
}

.now-playing .track-info {
	align-items: center;
	padding-bottom: 8px;
	width: 100%;
}

.now-playing .track-info__name{
	font-size: 18px;
	max-width: 100%;
}

.now-playing .track-info__artists {
	font-size: 14px;
	max-width: 100%;
}

.now-playing-bar__center{
	width: 100%;
	padding-bottom: 5px;
}

.playback-bar{
	order: -1;
}

.player-controls__buttons{
	margin-top: 12px;
	width: auto;
}

.now-playing-bar__right {
	align-self: flex-end;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.now-playing__radio{
	position: initial;
}

.now-playing-bar__right__inner {
	width: auto;
}

.now-playing__radio-icon{
	width: 48px;
	height: 48px;
	display: flex;
}

.now-playing__radio-icon svg{
	margin: auto;
}

.now-playing-bar__center .control-button {
	transform: scale(1.5);
	margin: 8px 12px;
}

@media(min-width: 320px){
	.now-playing-bar__center .control-button {
		margin: 8px 16px;
	}
}

.control-button--circled:hover{
	transform: scale(1.45);
}

.now-playing-bar__right .control-button {
	transform: scale(1.2);
	margin: 4px 8px;
}

.connect-bar::after{
	right: 160px;
}

.volume-bar{
	width: 130px;
}

.Root__now-playing-bar {
    bottom: 55px !important;
    height: 100%;
}

.compactPlayingBar .player-controls__buttons .control-button {
	display: none;
}

.compactPlayingBar .player-controls__buttons {
	margin: 0;
}

.compactPlayingBar .player-controls__buttons .control-button.control-button--circled {
	display: initial;
	transform: initial;
	margin: 0;
}

.compactPlayingBar .now-playing-bar__right {
	display: none;
}

.compactPlayingBar .now-playing-bar__left {
	padding: 0;
}

.compactPlayingBar .now-playing-bar__center {
	width: auto;
	padding-bottom: 0;
}

.compactPlayingBar .connect-bar {
	display: none !important;
}

.compactPlayingBar .now-playing__cover-art .cover-art{
	width: 48px !important;
	height: 48px !important;
}

.compactPlayingBar .playback-bar__progress-time{
	display: none;
}

.compactPlayingBar .playback-bar{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;
}

.compactPlayingBar .now-playing__radio {
	position: relative;
}

.compactPlayingBar .playback-bar .progress-bar{
	height: 2px;
	overflow: hidden;
}

.compactPlayingBar .playback-bar .progress-bar * {
	border-radius: 0;
}

.compactPlayingBar .now-playing .track-info {
	align-items: flex-start;
}

.compactPlayingBar .now-playing{
	flex-flow: row;
}

.compactPlayingBar .now-playing > .track-info{
	padding-bottom: 0;
}

.compactPlayingBar .now-playing > button {
	display: none;
}

.compactPlayingBar .now-playing > span {
	margin: 0;
	margin-right: 8px;
	overflow: hidden;
	flex-shrink: 0;
}

.compactPlayingBar .now-playing-bar{
	flex-flow: row;
}

.compactPlayingBar .now-playing .track-info__name {
	font-size: 16px;
}

.compactPlayingBar .now-playing .track-info__artists {
	font-size: 12px;
}

.compactPlayingBar .expand-playing-bar{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: calc(100% - 60px);
	height: 100%;
}

.Root__main-view {
    padding-left: 0;
}

.navBar-link--active::after {
    display: none;
}

.navBar-item .navBar-link--active .collection-active-icon,
.navBar-item .navBar-link--active .home-active-icon,
.navBar-item .navBar-link--active .search-active-icon {
    color: #1ed760;
}

.navBar-item--with-icon-left .navBar-link-text-with-icon-wrapper,
.navBar-item--with-icon-right .navBar-link-text-with-icon-wrapper {
    flex-direction: column;
}

.navBar-item .navBar-link--active .collection-active-icon + .navbar-link__text,
.navBar-item .navBar-link--active .home-active-icon + .navbar-link__text,
.navBar-item .navBar-link--active .search-active-icon + .navbar-link__text,
.UserWidget__link--is-active {
    color: #1ed760 !important;
}

.UserWidget__link {
    padding: 0 24px;
    width: 100%;
}

.UserWidget__user-avatar {
    width: 24px !important;
    height: 24px !important;
}

.compactPlayingBar > .Root > .Root__now-playing-bar {
    height: auto;
}