/*
	Main style for player
*/
@import "Generic";
@import "Components/NavBar";
@import "Components/NowPlayingBar";
@import "Components/NowPlayingFullscreen";
@import "Components/SpotifyConnect";
@import "Components/Page";
@import "Components/Dialog";
@import "Components/SearchPage";
@import "Components/ArtistPage";
@import "Components/TrackList";
@import "Components/UserInfo";
@import "Components/_ContextMenu";

html, body {
	min-width: 0;
	-ms-overflow-style: none; // Hide scrollbar
	padding-bottom: 48px;
}

// Background gradient
._1YMukI_FrE7QRuUVSvq_Qe {
	position: -ms-device-fixed;
}

// Popup notificaion
.ITVPJxOvtLt7upeE1TV9- {
	padding-top: $statusBarHeight !important;
}

.AdsContainer{
	width: 100%;
	height: 45px;
	bottom: 100px;
	padding: 0;

	&__inner{
		margin: 0 auto;

		iframe{
			transform: scale(0.5);
			transform-origin: top left;
		}
	}
}